body > div{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

body div main{
    width: 80vw;
    padding: 1em;
}

body div > div#leftpart{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 1em;
}


body div div .form-filtro{
    display: flex;
    flex-direction: column;
    width: 15vw;
    gap: .5em;
}

body div main > div{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.card{text-align: center;}

body div main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}