header{
    background-color: lightgray;
    padding: 1em;
}

header nav > ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

header nav > ol > li{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(160, 160, 160);
    padding: .5em;
}

main{
    padding: 2em;
    width: 100%;
}

main div[id="grid"]{
    display: grid;
    grid-template-rows: 20em 15em 15em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "topo topo topo topo topo"
    "e-superior e-c-superior central d-c-superior d-superior"
    "e-inferior e-c-inferior central d-c-inferior d-inferior";
    gap: 2em;
}

.topo{grid-area: topo;}
.e-superior{grid-area: e-superior;}
.e-c-superior{grid-area: e-c-superior;}
.central{grid-area: central;}
.d-c-superior{grid-area: d-c-superior;}
.d-superior{grid-area: d-superior;}
.e-inferior{grid-area: e-inferior;}
.e-c-inferior{grid-area: e-c-inferior;}
.d-inferior{grid-area: d-inferior;}
.d-c-inferior{grid-area: d-c-inferior;}

main div[id="grid"] .grid-component{
    background-color: white;
    transition: .5s;
}

main div[id="grid"] .grid-component:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

main div[id="grid"] .grid-component-down{
    max-width: 30em;
}

main div[id="grid"] .grid-img{
    max-width: 30em;
    max-height: 32em;
    width: auto;
    height: auto;
}

.carousel-component{
    height: 20em;
}

footer{
    background-color: lightgray;
    padding: 1em;
}

footer ol {
    display: flex;
    flex-direction: column;
    gap: .5em;
}