header{
    background-color: var(--bgColor);
}

header nav > ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headerColor);
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid white;
}

header nav > ol > li{
    display: flex;
    flex-direction: row;
    gap: 1em;
    color: white;
}

nav > ul > li a{
    text-decoration: none;
    position: relative
}

/* Underline effect */
nav > ul > li a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 50%;
    bottom: 0;
    width: 0;
    background: white;
    transition: all .2s;
}

nav > ul > li a:hover::after{
    width: 100%;
    left: 0;
}

header nav > ol > li > img{
    width: 8em;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    background-color:var(--navColor);
    padding: .5em;
}

nav > ul > li a{
    color: white;
}

main{
    padding: 2em;
    width: 100%;
}

main div[id="grid"]{
    display: grid;
    grid-template-rows: 20em 15em 15em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "topo topo topo topo topo"
    "e-superior e-c-superior central d-c-superior d-superior"
    "e-inferior e-c-inferior central d-c-inferior d-inferior";
    gap: 2em;
}

.topo{grid-area: topo;}
.e-superior{grid-area: e-superior;}
.e-c-superior{grid-area: e-c-superior;}
.central{grid-area: central;}
.d-c-superior{grid-area: d-c-superior;}
.d-superior{grid-area: d-superior;}
.e-inferior{grid-area: e-inferior;}
.e-c-inferior{grid-area: e-c-inferior;}
.d-inferior{grid-area: d-inferior;}
.d-c-inferior{grid-area: d-c-inferior;}

main div[id="grid"] .grid-component{
    max-width: 30em;
    max-height: 32em;
    transition: .5s;
}

main div[id="grid"] .grid-component:hover{
    cursor: pointer;
}

main div[id="grid"] .grid-img{
    max-width: 30em;
    max-height: 32em;
    width: auto;
    height: auto;
}

main div[id="grid"] .grid-img:hover{
    border: 1px solid black;
}

main div[id="grid"] .grid-img-small{
    max-width: 22.5em;
    max-height: 24em;
    width: auto;
    height: auto;
}

main div[id="grid"] .grid-img-small:hover{
    border: 1px solid black;
}

.carousel-component{
    height: 20em;
}

footer{
    background-color: var(--headerColor);
    padding: 1em;
    border-top: 1px solid gray;
}

footer ol {
    display: flex;
    flex-direction: column;
    gap: .5em;
}