header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background-color: var(--headerColor);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 620px;
    margin: 0 auto;
    margin-top: 20px;
    background-color:  #0D405A;
    border-radius: 40px;
    color: white;
}

main > h1{
    text-align: center;
    padding-top: 18px;
    font-size: 35px;
}

main > p{
    text-align: center;
    font-size: 16px;
}

main > form{
    width: 300px;
    margin-left: 20px;
}

main > form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

main > form input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-top: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    border: 2px solid gray;
}

main > form > div{
    display: flex;
    flex-direction: row;
}

main > form > div label {font-size: 15px;}

main > form input[type="submit"]{
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: white;
    font-size: 15px;
}