<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <nav id="dados">
            <ol>
                <li><img src="../static/imgs/icons/contato.svg" alt="caixa de entrada"></li>
                <li><a href="index.html"><h1>Loja</h1></a></li>
                <li class="h_display">
                    <p><img src="../static/imgs/icons/carrinho.svg" alt="carrinho"></p>
                    <p><img src="../static/imgs/icons/user.svg" alt="usuario"></p>
                </li>
            </ol>
        </nav>
        
        <nav id="produtos">
            <ul>
                <li>Masculino</li>
                <li>Feminino</li>
                <li>Infantil</li>
                <li>Esportes</li>
                <li>Casual</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="topo">Promoções</div>
        <!-- efeito de ir alternando a imagem plmns 3 -->

        <div class="e-superior tam">ofertas limitadas</div>
        <div class="e-inferior tam">tênis</div>
        <!-- video apresentando -->

        <div class="e-c-superior tam">vestuario em promocao</div>
        <div class="e-c-inferior tam">5</div>

        <div class="central tam">6</div>

        <div class="d-c-superior tam">7</div>
        <div class="d-c-inferior tam">8</div>

        <div class="d-superior tam">9</div>
        <div class="d-inferior tam">10</div>

    </main>

    <footer>
        <p>area para contato</p>
        <p>politicas/regulamentos de troca reembolso etc</p>
        <p>redes sociais</p>
    </footer>
</body>
</html>