<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <p><img src="E-Commerce/ecommerce/stat/imgs/ico/contato.svg" alt="caixa de entrada"></p>
        <h1>Loja</h1>
        <div>
            <p><img src="E-Commerce/ecommerce/stat/imgs/ico/carrinho.svg" alt="carrinho"></p>
            <p><img src="E-Commerce/ecommerce/stat/imgs/ico/user.svg" alt="usuario"></p>
        </div>
    </header>
    <main>
        <div class="topo">1</div>

        <div class="e-superior"></div>
        <div class="e-inferior"></div>

        <div class="e-c-superior"></div>
        <div class="e-c-inferior"></div>

        <div class="e-central"></div>

        <div class="d-c-superior"></div>
        <div class="d-c-inferior"></div>

        <div class="d-superior"></div>
        <div class="d-inferior"></div>

    </main>
</body>
</html>