<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <nav id="dados">
            <ol>
                <li><img src="../static/imgs/ico/contato.svg" alt="caixa de entrada"></li>
                <li><a href="index.html"><h1>Loja</h1></a></li>
                <li class="h_display">
                    <p><img src="../static/imgs/ico/carrinho.svg" alt="carrinho"></p>
                    <p><img src="../static/imgs/ico/user.svg" alt="usuario"></p>
                </li>
            </ol>
        </nav>
        
        <nav id="produtos">
            <ul>
                <li>Camisas</li>
                <li>Camisas</li>
                <li>Camisas</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="topo">1</div>

        <div class="e-superior">2</div>
        <div class="e-inferior">3</div>

        <div class="e-c-superior">4</div>
        <div class="e-c-inferior">5</div>

        <div class="central">6</div>

        <div class="d-c-superior">7</div>
        <div class="d-c-inferior">8</div>

        <div class="d-superior">9</div>
        <div class="d-inferior">10</div>

    </main>
</body>
</html>