{% extends "base.html" %}
{% block tittle %}Registrar{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/styles/signin.css">
{% endblock %}
{% block content %}
<main>
    <div class="signup-box">
        <h1>Cadastre-se</h1>
        <h4>crie sua conta</h4>
        <form action="#">
            <label for="">Nome Completo</label>
            <input type="text" placeholder="Nome Completo">

            <label for="">Email</label>
            <input type="email" placeholder="E-mail">

            <label for="">Senha</label>
            <input type="password" placeholder="Senha">

            <label><input type="checkbox" name="regras" id="checkb"><p> Li, e aceito os <a href="#">Termos de Uso</a> e <a href="#">Políticas de privacidade</a></p></label>

            <input type="button" value="Confirmar">
        </form>
    </div>
</main>
{% endblock %}